name: budgetory_app

services:
  backend:
    build:
      context: backend
      dockerfile: docker/Dockerfile
      target: release-image
      args:
        - DEV=true
    image: backend:release-image
    env_file:
      - ./backend/.env
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/src:/app/src
      - ./backend/.secrets.yaml:/app/.secrets.yaml
    ports:
      - 8000:8000
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - db
    healthcheck:
      test: curl --fail http://localhost:8000/api/healthcheck || exit 1
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
  db:
    image: postgres:15
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data: