name: budgetory_app

services:
  backend:
    build:
      context: backend
      dockerfile: backend/docker/Dockerfile
      target: release-image
      args:
        - DEV=true
    image: backend:release-image
    env_file:
      - ./backend/.env
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/src:/app/src
      - ./backend/.secrets.yaml:/app/.secrets.yaml
    ports:
      - 8000:8000
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - db
    healthcheck:
      test: curl --fail http://localhost:8000/api/healthcheck || exit 1
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
  db:
    image: postgres:15
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  frontend:
    profiles: [with_frontend]
    build:
      context: frontend
      target: release-image
    command: yarn start
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    environment:
      - WATCHPACK_POOLING=true
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_BASE_URL=http://localhost:8000
    ports:
      - 3000:3000
    stdin_open: true
    volumes:
      - ./frontend:/app
      - /app/node_modules


volumes:
  postgres_data: