name: budgetory_tests

services:
  backend:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      target: test-image
      args:
        - DEV=${DEV}
    image: backend:test-image
    command: python src/manage.py runserver 0.0.0.0:8000
    volumes:
      - ./tests:/app/tests
      - ./.secrets.yaml:/app/.secrets.yaml
      - ./.flake8:/app/.flake8
      - ./test-results:/app/test-results
    ports:
      - 8000:8000

    depends_on:
      - db
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data: