---
name: Main

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  quality_and_tests:
    name: Code quality and tests
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      checks: write
      pull-requests: write
    env:
      DEV: true
      SECRET_KEY: test_secret_key
      ENV_FOR_DYNACONF: default
      DYNACONF_ENVIRONMENT__DEBUG: 0
      DATABASE: postgres
      SQL_HOST: db
      SQL_PORT: 5432
      POSTGRES_DB: budgetory_db
      POSTGRES_USER: budgetory_user
      POSTGRES_PASSWORD: budgetory_password
      DYNACONF_ENVIRONMENT__SECRET_KEY: test_secret_key
      DYNACONF_ENVIRONMENT__SUPERUSER_API_KEY: superuser_api_key

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Set derived env vars"
        run: |
          echo "DYNACONF_DATABASE__USER=${{ env.POSTGRES_USER }}" >> $GITHUB_ENV
          echo "DYNACONF_DATABASE__PASSWORD=${{ env.POSTGRES_PASSWORD }}" >> $GITHUB_ENV
          echo "DYNACONF_DATABASE__HOST=${{ env.SQL_HOST }}" >> $GITHUB_ENV
          echo "DYNACONF_DATABASE__PORT=${{ env.SQL_PORT }}" >> $GITHUB_ENV
          echo "DYNACONF_DATABASE__NAME=${{ env.POSTGRES_DB }}" >> $GITHUB_ENV

      - name: "Build image"
        run: docker compose -f docker-compose-tests.yaml up backend -d

      - name: "Perform database migrations"
        run: docker compose -f docker-compose-tests.yaml run backend sh -c "python src/manage.py wait_for_db && python src/manage.py migrate"

      - name: "[Code quality] black"
        run: docker compose -f docker-compose-tests.yaml run backend sh -c "black . --line-length=120 --check"

      - name: "[Code quality] isort"
        run: docker compose -f docker-compose-tests.yaml run backend sh -c "isort . --check-only --profile black"

      - name: "[Code quality] flake8"
        run: docker compose -f docker-compose-tests.yaml run backend sh -c "flake8 ."

      - name: "[Code quality] bandit"
        run: docker compose -f docker-compose-tests.yaml run backend sh -c "bandit -c pyproject.toml -r ."

      - name: "[Code quality] safety"
        run: docker compose -f docker-compose-tests.yaml run backend sh -c "safety check -i 70612,66963"

      - name: "[Tests] pytest with coverage"
        run: docker compose -f docker-compose-tests.yaml run backend sh -c "python src/manage.py wait_for_db && pytest --junitxml=test-results/junit.xml --cov=. --cov-report=xml:test-results/coverage.xml --cov-report=html --cov-report=term"

      - name: "Test results"
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: test-results/junit.xml
          check_name: Tests results

      - name: "Coverage report"
        uses: orgoro/coverage@v3.2
        with:
          coverageFile: test-results/coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Cleanup"
        if: always()
        run: docker compose -f docker-compose-tests.yaml rm -s -f -v